<!-- blog.css.scss -->

<div class="wrap">
  <div class="background b-bg"></div>
  <div class="blog">
    <h1>BLOG</h1>
    <h3>Hello. We are a multi-disciplinary team working together to craft awesome websites, realise brand <br>identities, design for print and capture visual imagery through photography. <br>Take a look at some of our work below.</h3>
  </div>
</div>

<div class="container category">
  <img src="/assets/blog/category_icon.png">
  <h1 class="select">RECENT POST</h1>
  <h1>BEST LIKE</h1>
</div>

<div class="container blog-post">
  <div class="post">
    <a href="/blog/details">
      <img src="assets/blog/post_thumbnail-01.png" class="thumbnail">
    </a>
    <div class="right">
      <div class="title">
        <a href="/blog/details" class="subtitle">DEVELOPER CONFERENCE</a>
        <div class="view">view</div>
      </div>
      <p class="date">24TH OF SEPTEMBER 2014</p>
      <div class="icon">
        <img src="assets/blog/post_contents_view.png">
        <h3>VIEW <span>254</span></h3>
        <img src="assets/blog/post_contents_like.png">
        <h3>LIKE IT <spna>25</span></h3>
      </div>
      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text..</p>
    </div>
  </div>

  <div class="post">
    <a href="#none">
      <img src="assets/blog/post_thumbnail-02.png" class="thumbnail">
    </a>
    <div class="right">
      <div class="title">
        <a href="#none" class="subtitle">The standard Lorem Ipsum passage, used since the 1100s</a>
        <div class="view">view</div>
      </div>
      <p class="date">24TH OF SEPTEMBER 2014</p>
      <div class="icon">
        <img src="assets/blog/post_contents_view.png">
        <h3>VIEW <span>254</span></h3>
        <img src="assets/blog/post_contents_like.png">
        <h3>LIKE IT <spna>25</span></h3>
      </div>
      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text..</p>
    </div>
  </div>

  <div class="post">
    <a href="#none">
      <img src="assets/blog/post_thumbnail-03.png" class="thumbnail">
    </a>
    <div class="right">
      <div class="title">
        <a href="#none" class="subtitle">SPENDING TIME TOGETHER, OUTSIDE</a>
        <div class="view">view</div>
      </div>
      <p class="date">24TH OF SEPTEMBER 2014</p>
      <div class="icon">
        <img src="assets/blog/post_contents_view.png">
        <h3>VIEW <span>254</span></h3>
        <img src="assets/blog/post_contents_like.png">
        <h3>LIKE IT <spna>25</span></h3>
      </div>
      <p>"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia anim.</p>
    </div>
  </div>

  <div class="post">
    <a href="#none">
      <img src="assets/blog/post_thumbnail-04.png" class="thumbnail">
    </a>
    <div class="right">
      <div class="title">
        <a href="#none" class="subtitle">translation by H. Rackham</a>
        <div class="view">view</div>
      </div>
      <p class="date">24TH OF SEPTEMBER 2014</p>
      <div class="icon">
        <img src="assets/blog/post_contents_view.png">
        <h3>VIEW <span>254</span></h3>
        <img src="assets/blog/post_contents_like.png">
        <h3>LIKE IT <spna>25</span></h3>
      </div>
      <p>"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
    </div>
  </div>
</div>