<div class="post-detail">
  <div class="like">
    <img src="/assets/blog/post_contents_like.png">
    <h3>like 54</h3>
  </div>
  <h1>DEVELOPER CONFERENCE</h1>
  <h3 class="load">BLOG > <span>MANUAL</span></h3>
  <h3 class="date">JULY 31, 2014 AT 1 : 37 PM</h3>
  <p>Ut lacus leo, sollicitudin id rutrum ac, laoreet et libero. Fusce non auctor enim. Pellentesque et magna ac orci luctus tincidunt in quis erat. Nam non nisi eu tellus dignissim tempor nec eget dui. In et iaculis mauris. Aenean convallis justo ut justo rutrum vestibulum. In ac venenatis nunc. Sed libero nunc, condimentum sed cursus vitae, venenatis congue massa. Sed tincidunt eu mi in porttitor. Ut ut eros non elit tempus imperdiet in id elit. Nunc ut justo nec ipsum lobortis volutpat. Donec non leo tincidunt, viverra tellus dictum, lobortis quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus sit amet semper dui, eget porttitor nibh.</p>
  <img src="/assets/blog/post_sample_img-01.png">
  <p>Nulla facilisi. Aenean vitae metus id nulla posuere feugiat nec sit amet ligula. Nunc dolor sapien, vestibulum et massa eget, pretium rutrum libero. Phasellus egestas lorem non ligula mollis, sit amet tempus mauris luctus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum commodo venenatis augue nec facilisis. Nullam dapibus non mi sit amet rutrum. Proin nec enim tristique, suscipit purus et, semper felis.</p>
  <img src="/assets/blog/post_sample_img-02.png">

  <div class="sns">
    <a href="#none"><img src="/assets/blog/sns-01.png"></a>
    <a href="#none"><img src="/assets/blog/sns-02.png"></a>
    <a href="#none"><img src="/assets/blog/sns-03.png"></a>
    <a href="#none"><img src="/assets/blog/sns-04.png"></a>
    <a href="#none"><img src="/assets/blog/sns-05.png"></a>
  </div>

  <div class="tag">
    <h1>TAGS</h1>
    <p><a href="#none">#polish</a></p>
    <p><a href="#none">#drink</a></p> 
    <p><a href="#none">#white</a></p>
    <p><a href="#none">#cola</a></p>
    <p><a href="#none">#bottle</a></p>
    <p><a href="#none">#flower</a></p>
    <p><a href="#none">#pink</a></p>
    <p><a href="#none">#book</a></p>
    <p><a href="#none">#drinking</a></p>
    <p><a href="#none">#typo</a></p>
    <p><a href="#none">#typography</a></p>
  </div>

  <div class="comment">
    <h1>LEAVE A COMMENT</h1>
    <table>
      <tr>
        <td><img src="/assets/blog/comment_profile-01.png"></td>
        <td>
          <h3>ANN&nbsp;&nbsp;<span class="date">JULY 31, 2014 AT 1:37 PM</span></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, laboriosam.</p>
        </td>
      </tr>
      <tr class="answer">
        <td class="aa"><!-- <img src="/assets/blog/comment_profile_bar.png"> --><img src="/assets/blog/comment_profile-02.png"></td>
        <td>
          <h3>JOBS&nbsp;&nbsp;<span class="date">JULY 31, 2014 AT 1:37 PM</span></h3>
          <p>tur tempore error ex dicta necessitatibus iste nisi cupiditate quam.</p>
        </td>
      </tr>
    </table>
  </div>

  <div class="pagenation">
    <h1>RELATIVE POSTS</h1>
    <div class="pagenation-thumbnail">
      <img src="/assets/blog/post_thumbnail-02.png">
      <img src="/assets/blog/post_thumbnail-03.png" class="right">
    </div>
    <div class="arrow">
      <a href="#none">
        <div class="left">
          <img src="/assets/blog/arrow-01.png">
          <h1>PREV</h1>
        </div>
      </a>
      <h3>POST LIST</h3>
      <a href="#none">
        <div class="right">
          <h1>NEXT</h1>
          <img src="/assets/blog/arrow-02.png">
        </div>
      </a>
    </div>
  </div>


</div>