<div class="container blog-post">
  <div class="post">
    <img src="assets/blog/post_thumbnail.png">
    <h1>DEVELOPER CONFERENCE</h1>
    <p>24TH OF SEPTEMBER 2014</p>
    <div class="icon">
      <img src="assets/blog/post_contents_view.png">
      <h3>VIEW <span>254</span></h3>
      <img src="assets/blog/post_contents_like.png">
      <h3>LIKE IT <spna>25</span></h3>
    </div>
    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text..</p>
  </div>
</div>