<div class="wrap">
  <div class="background ct-bg"></div>
  <div class="blog">
    <h1>GET IN TOUCH</h1>
    <h3>Hello. We are a multi-disciplinary team working together to craft awesome websites, realise brand <br>identities, design for print and capture visual imagery through photography. <br>Take a look at some of our work below.</h3>
  </div>
</div>

<div class="message">
  <h1>LEAVE ME A MESSAGE</h1>
  <div class="input-area">
    <input type="text" placeholder="* NAME">
    <input type="mail" placeholder="* EMAIL">
    <input type="text" placeholder="* WEB SITE">
  </div>
  <textarea rows="6" placeholder="* MESSAGE"></textarea>
  <button type="button" class="send-btn">SEND MESSAGE</button>
</div>