<div class="container main">
  <h1>Welcome</h1>
  <h3>Learn HTML, CSS, PROGRAMMING</h3>
  <p>Learn how to build websites &amp; apps, write code or start a business.</p>
  <div class="sns">
    <div class="tooltips">
      <a href="#none"><img src="/assets/sns-twitter.png"></a>
      <div class="hover">
        <img src="/assets/tooltip.png" class="balloon">
        <h3>twitter</h3>
      </div>
    </div>
    <div class="tooltips">
      <a href="#none"><img src="/assets/sns-facebook.png"></a>
      <div class="hover">
        <img src="/assets/tooltip.png" class="balloon">
        <h3>facebook</h3>
      </div>
    </div>
    <div class="tooltips">
      <a href="#none"><img src="/assets/sns-pin.png"></a>
      <div class="hover">
        <img src="/assets/tooltip.png" class="balloon">
        <h3>pinterest</h3>
      </div>
    </div>
    <div class="tooltips">
      <a href="#none"><img src="/assets/sns-instargram.png"></a>
      <div class="hover">
        <img src="/assets/tooltip.png" class="balloon">
        <h3>instargram</h3>
      </div>
    </div>
  </div>
</div>

<a href="#img">
  <div class="down-scrolling">
    <h3>IMAGE</h3>
    <img src="/assets/down-scrolling.png">
  </div>
</a>

<div class="slider" id="img">
  <div id="carousel-example-generic" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
   
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="/assets/main-banner.png" alt="main">
        <div class="carousel-caption">
          <h1>Strategy + Innovation</h1>
          <p>Innovation can no longer be just internal. We recognize that startups are playing a large role in redefining global innovation and their disruptive ideas have begun to shape the connected world. We want to strategically position our clients between the speed, iteration, and innovation of the startup world, and the proven industry knowledge, scale, and expertise existing within larger organizations.</p>
        </div>
      </div>
      <div class="item">
        <img src="/assets/main-banner.png" alt="main">
        <div class="carousel-caption">
          <h1>Strategy + Innovation ++</h1>
          <p>Innovation can no longer be just internal. We recognize that startups are playing a large role in redefining global innovation and their disruptive ideas have begun to shape the connected world.</p>
        </div>
      </div>
      <div class="item">
        <img src="/assets/main-banner.png" alt="main">
        <div class="carousel-caption">
          <h1>Strategy + Innovation +++</h1>
          <p>Innovation can no longer be just internal. We recognize that startups are playing a large role in redefining global innovation and their disruptive ideas have begun to shape the connected world. We want to strategically position our clients between the speed, iteration, and innovation of the startup world, and the proven industry knowledge, scale, and expertise existing within larger organizations.</p>
        </div>
      </div>
    </div>
   
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
      <img src="/assets/story/arrow-01.png" class="arrow-btn">
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      <img src="/assets/story/arrow-02.png" class="arrow-btn">
    </a>
  </div>
</div>
