<div class="wrap">
  <div class="background pf-bg"></div>
  <div class="blog">
    <h1>PORTFOLIO</h1>
    <h3>Hello. We are a multi-disciplinary team working together to craft awesome websites, realise brand <br>identities, design for print and capture visual imagery through photography. <br>Take a look at some of our work below.</h3>
  </div>
</div>



<div class="row">
  <div class="col-md-4">
    <div class="pf-content">
      <img src="/assets/portfolio/portfolio-01.png">
    </div>
    <div class="hover">
      <div class="information">
        <img src="/assets/blog/post_contents_like.png">
        <h3>LIKE 56</h3>
        <p>Zoe never had the patience of her sisters. She deliberately punched the bear in his face.</p>
      </div>
      <div class="foot">
        <h3>MY PORTFOLIO</h3>
        <h5>Product Design</h5>
        <div class="icon">
          <img src="/assets/portfolio/hover_icon-01.png">
          <img src="/assets/portfolio/hover_icon-02.png">
          <img src="/assets/portfolio/hover_icon-03.png">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="pf-content">
      <img src="/assets/portfolio/portfolio-02.png">
    </div>
    <div class="hover">
      <div class="information">
        <img src="/assets/blog/post_contents_like.png">
        <h3>LIKE 56</h3>
        <p>Zoe never had the patience of her sisters. She deliberately punched the bear in his face.</p>
      </div>
      <div class="foot">
        <h3>MY PORTFOLIO</h3>
        <h5>Product Design</h5>
        <div class="icon">
          <img src="/assets/portfolio/hover_icon-01.png">
          <img src="/assets/portfolio/hover_icon-02.png">
          <img src="/assets/portfolio/hover_icon-03.png">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="pf-content">
      <img src="/assets/portfolio/portfolio-03.png">
    </div>
    <div class="hover">
      <div class="information">
        <img src="/assets/blog/post_contents_like.png">
        <h3>LIKE 56</h3>
        <p>Zoe never had the patience of her sisters. She deliberately punched the bear in his face.</p>
      </div>
      <div class="foot">
        <h3>MY PORTFOLIO</h3>
        <h5>Product Design</h5>
        <div class="icon">
          <img src="/assets/portfolio/hover_icon-01.png">
          <img src="/assets/portfolio/hover_icon-02.png">
          <img src="/assets/portfolio/hover_icon-03.png">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="pf-content">
      <img src="/assets/portfolio/portfolio-04.png">
    </div>
    <div class="hover">
      <div class="information">
        <img src="/assets/blog/post_contents_like.png">
        <h3>LIKE 56</h3>
        <p>Zoe never had the patience of her sisters. She deliberately punched the bear in his face.</p>
      </div>
      <div class="foot">
        <h3>MY PORTFOLIO</h3>
        <h5>Product Design</h5>
        <div class="icon">
          <img src="/assets/portfolio/hover_icon-01.png">
          <img src="/assets/portfolio/hover_icon-02.png">
          <img src="/assets/portfolio/hover_icon-03.png">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="pf-content">
      <img src="/assets/portfolio/portfolio-05.png">
    </div>
    <div class="hover">
      <div class="information">
        <img src="/assets/blog/post_contents_like.png">
        <h3>LIKE 56</h3>
        <p>Zoe never had the patience of her sisters. She deliberately punched the bear in his face.</p>
      </div>
      <div class="foot">
        <h3>MY PORTFOLIO</h3>
        <h5>Product Design</h5>
        <div class="icon">
          <img src="/assets/portfolio/hover_icon-01.png">
          <img src="/assets/portfolio/hover_icon-02.png">
          <img src="/assets/portfolio/hover_icon-03.png">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="pf-content">
      <img src="/assets/portfolio/portfolio-06.png">
    </div>
    <div class="hover">
      <div class="information">
        <img src="/assets/blog/post_contents_like.png">
        <h3>LIKE 56</h3>
        <p>Zoe never had the patience of her sisters. She deliberately punched the bear in his face.</p>
      </div>
      <div class="foot">
        <h3>MY PORTFOLIO</h3>
        <h5>Product Design</h5>
        <div class="icon">
          <img src="/assets/portfolio/hover_icon-01.png">
          <img src="/assets/portfolio/hover_icon-02.png">
          <img src="/assets/portfolio/hover_icon-03.png">
        </div>
      </div>
    </div>
  </div>
</div>