/* blog.html.erb */

.wrap {
  position: relative;
  width: 100%;
  .background {
    position: absolute;
    display: block;
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: -1;  
  }
  .b-bg {
    background-image: url(/assets/blog/top_bg.png);
  }
  .pf-bg {
    background-image: url(/assets/portfolio/top-pf-bg.png);
  }
  .ct-bg {
    background-image: url(/assets/top-contact-bg.png);
  }
  .blog {
    text-align: center;
    padding: 300px 0;
    color: white;
    z-index: 100;
    height: 800px;
    h1 {
      font-size: 55px;
      font-weight: 800;
      letter-spacing: 10px;
      margin-bottom: 30px;
    }
    h3 {
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 1px;
    }
  }
}

.category {
  margin: 30px 0 0;
  img {
    vertical-align: middle;
  }
  h1 {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    color: rgba(198, 156, 109, 0.5);
    margin: 10px 30px 10px 20px;
    cursor: pointer;
  }
  .select {
    color: #c69c6d;
  }
}

.blog-post {
  width: 980px;
  .post {
    display: inline-block;
    margin: 30px 0;
    .thumbnail {
      padding: 0;
      border: 0;
      border-radius: 0;
      display: inline-block;
    }
    .right {
      float: right;
      width: 625px;
      margin: 10px 0 10px 60px;
      .title {
        display: inline-block;
        a {
          font-size: 25px;
          font-weight: 700;
          display: inline-block;
          text-decoration: none;
          color: #000000; 
          padding-bottom: 10px;
        } 
        .view {
          display: none;
          background-color: #c69c6d;
          color: white;
          margin-left: 12px;
          padding: 5px 10px;
          border-radius: 10px;
          font-size: 14px;
          position: relative;
          bottom: 5px;
          text-align: center;
          width: 70px;
          cursor: pointer;
        }
      }
      .title:hover {
        a {
          color: #c69c6d;
        } 
        .view {
          display: inline-block;
        }
      }
      
      .date {
        font-size: 12px;
        color: #cccccc;
      }
      .icon {
        margin: 20px 0;
        font-family: "Montserrat", sans-serif;
        img {
          margin-right: 5px;
          vertical-align: middle;
        }
        h3 {
          font-size: 18px;
          font-weight: 700;
          color: #000000;
          display: inline-block;
          margin-right: 20px;
        }
      }
      p {
        font-size: 17px;
        line-height: 28px;
        color: #666666;
      }
    }
  }  
}



/* portfolio page */
.row {
  .col-md-4 {
    padding: 0;
    .pf-content {
      width: 100%;
      height: 483px;
      img {
        width: 100%;
      }
    }
    .hover {
      display: none;
      position: absolute;
      top: 0;
      width: 100%;
      .information {
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center;
        height: 382px;
        padding: 130px 50px;
        h3 {
          color: #c69c6d;
          font-family: "Montserrat", sans-serif;
          font-size: 18px;
          margin: 10px 0;
        }
        p {
          color: white;
          line-height: 30px;
          width: 500px;
        }        
      }
      .foot {
        background-color: white;
        height: 100px;
        padding: 30px 40px;
        h3 {
          font-size: 20px;
          font-weight: 600;
          color: #000000;
          display: inline-block;
          .tag {
            font-size: 14px;
            color: #c69c6d;
          }
        }
        .icon {
          display: inline-block;
          float: right;
          margin-top: 5px;
          img {
            vertical-align: middle;
            margin: 0 12px;
          }
        }
      }
    }
  }
  .col-md-4:hover {
    .hover {
      display: block;
    }
  }
}



/* blog, portfolio - details 페이지 */
.detail {
  width: 980px;
  margin: 40px auto;
  text-align: center;

  .like {
    margin-bottom: 50px;
    img {
      width: 35px;
      margin: 0 0 10px;
    }
    h3 {
      font-family: "Montserrat", sans-serif;
      font-size: 18px;
      color: #c69c6d;
    }
  }

  h1 {
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0;
  }
  .load {
    margin: 20px 0 50px;
    color: rgba(198, 156, 109, 0.5);
    span {
      color: rgba(198, 156, 109, 1);
    }
  }
  .date {
    color: #b2b2b2;
    font-size: 14px;
    margin: 20px 0 50px;
    font-family: "Montserrat", sans-serif;
  }
  p {
    font-size: 16px;
    color: #000000;
    line-height: 30px;
    font-weight: 600;
    text-align: left;
  }
  img {
    margin: 40px 0;
  }

  .sns {
    margin: 30px 0 60px;
    img {
      margin: 0 10px;
    }
  }

  .tag {
    border-top: 1px solid #c69c6d;
    border-bottom: 1px solid #c69c6d;
    padding: 20px 15px;
    h1 {
      font-size: 16px;
      display: inline-block;
      margin-right: 20px;
      color: #999999;
    }
    p {
      display: inline-block;
      margin: 0 2px;
      font-weight: 400;
      a {
        text-decoration: none;
        color: #c69c6d;
      }
    }
  }

  .comment {
    margin: 90px 0 50px;
    table {
      width: 100%;
      tr {
        td {
          text-align: left;
          padding: 10px 0;
          vertical-align: middle;
          img {
            vertical-align: middle;
            margin: 10px 30px 10px 0;
          }
          h3 {
            font-size: 28px;
            font-weight: 700;
            margin-bottom: 10px;
            span {
              font-family: "Montserrat", sans-serif;
              font-size: 15px;
              font-weight: 400;
            }
          }
        }
      }
      .answer {
        position: relative;

      }
    }
  }


  .pagenation {
    margin: 80px 0 150px;

    .pagenation-thumbnail {
      text-align: left;
      img {
        width: 485px;
      }
      .right {
        float: right;
      }
    }

    .arrow {
      overflow: auto;
      vertical-align: middle;
      img {
        margin: 0;
        vertical-align: middle;
      }
      h3 {
        vertical-align: middle;
        font-size: 20px;
        font-weight: 600;
        color: #c69c6d;
        display: inline-block;
        margin-top: 15px;

      }
      .left {
        float: left;
        display: inline-block;
        h1 {
          display: inline-block;
          font-size: 16px;
          color: #aaa;
          margin-left: 10px;
        }
      }
      .right {
        float: right; 
        display: inline-block;
        h1 {
          display: inline-block;
          font-size: 16px;
          color: #aaa;
          margin-right: 10px;
        }
      }
    }
  }
}



/* contact page */

.message {
  text-align: center;
  margin: 100px auto 200px;
  width: 980px;
  overflow: auto;
  h1 {
    font-size: 35px;
    font-weight: 600;
    margin: 20px 0 70px;
  }

  $border: 3px solid #ddd;
  
  .input-area {
    input {
      background-color: white;
      border-radius: 5px;
      border: $border;
      padding: 15px 25px;
      margin: 0 8px;
      line-height: 26px;
      font-size: 15px;
      color: #666;
      width: 280px;
    }
  }
  textarea {
    display: block;
    background-color: white;
    border-radius: 5px;
    border: $border;
    padding: 25px;
    line-height: 26px;
    width: 880px;
    margin: 20px auto   
  }
  .send-btn {
    background-color: #000000;
    color: white;
    padding: 15px 32px;
    border: 0;
    font-size: 16px;
    margin-top: 20px;
    float: right;
    margin: 20px 50px 0 0;
  }
}

