<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
  <header>
    <div class="container">
      <a href="/"><img src="/assets/logo.png" class="logo"></a>
      <img src="/assets/menu.png" class="menu" data-toggle="modal" data-target="#myModal">      
    </div>

    <!-- menu-Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img src="/assets/menu-go-out.png"></button>
            <h4 class="modal-title"><img src="/assets/menu-logo.png"></h4>
          </div>
          <div class="modal-body">
            <ul>
              <li><a href="/">HOME</a></li>
              <li><a href="/about">ABOUT</a></li>
              <li><a href="/story">HISTORY</a></li>
              <li><a href="/blog">BLOG</a></li>
              <li><a href="/portfolio">WORK</a></li>
              <li><a href="/contact">CONTACT</a></li>
            </ul>
            <div class="input-area">
              <input type="text" placeholder="search">
              <img src="/assets/menu-search.png" class="search">
            </div>
            
            <div class="menu-sns">
              <a href="#none"><img src="/assets/menu-sns-01.png"></a>
              <a href="#none"><img src="/assets/menu-sns-02.png"></a>
              <a href="#none"><img src="/assets/menu-sns-03.png"></a>
              <a href="#none"><img src="/assets/menu-sns-04.png"></a>
            </div>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </header>

  <%= yield %>
  <footer style="border-top: 1px solid #eee;">
    <div class="container">
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/story">HISTORY</a></li>
        <li><a href="/blog">BLOG</a></li>
        <li><a href="/portfolio">WORK</a></li>
        <li><a href="/contact">CONTACT</a></li>
      </ul>
      <div class="sns-area">
        <a href="#none"><img src="/assets/footer-sns-01.png"></a>
        <a href="#none"><img src="/assets/footer-sns-02.png"></a>
        <a href="#none"><img src="/assets/footer-sns-03.png"></a>
        <a href="#none"><img src="/assets/footer-sns-04.png"></a>
      </div>
      <p>Copyright 2015 @HELLO. All Rights Reserved</p>
    </div>
  </footer>

</body>
</html>
